<%- include('../partials/header') %> 

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Create a New Campgroud</h1>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-4">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <label for="name">Campground Name</label>
                <input class="form-control" type="text" placeholder="name" name="name">
            </div>
            <div class="form-group">
                <label for="price">Price per Night</label>
                <input class="form-control" type="number" placeholder="price" name="price" min="0.00" step="0.01">
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input class="form-control" type="text" placeholder="image url" name="image">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="description" name="description" rows="8" placeholder="Write a description of the campground and your experience"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>      
        </form>

        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<%- include('../partials/footer') %> 